/* variavel para as cores  */
:root {

    --background-color: rgba(5, 13, 24, 0.555);

    --fundo-menu-lateral: #012840;
    --fundo-claro: #a6afb4;
    --fundo-escuro: #2f3538;

    --borda-clara: #38E0F2;
    --borda-escura: #037F8C;

    --texto-escuro: #161616;
    --texto-claro: #c8d4db;
    --texto-branco: #ecf8ff;
    --texto-hover: #218591;
    --texto-opaco: #81888c;

    --cor-detalhes: #149ddd;

    --texto-titulo-claro: #38E0F2;
    --texto-titulo-escuro: #037F8C;

    --sombra-clara: rgba(255, 255, 255, 1);
    --sombra-escura: rgba(31, 31, 31, 0.1);
}

/* css geral  */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #161616; */
    color: var(--texto-escuro);
    background: var(--fundo-escuro);
}

a {
    color: var(--texto-escuro);
    text-decoration: none;
}

a:hover {
    color: var(--texto-hover);
    text-decoration: none;
    /* retirar underline */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}

/* Botão back to top = Scroll */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--cor-detalhes);
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: var(--texto-branco);
    line-height: 0;

}

.back-to-top:hover {
    background: var(--borda-escura);
    color: var(--texto-claro);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 99;
    /**/
    padding: 0 15px;
    background: var(--fundo-menu-lateral);
    overflow-y: auto;
    /*transbordar*/
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-shadow: 0px 0px 10px 0px var(--sombra-clara);
    /* sombra */
}

#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    /* font-family: ; */
}

/* Caso coloquem Link no H1 
#header .perfil h1 a, 
#header .perfil h1 a:hover {
    /* color: ;
    text-decoration: none;
} */
.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
    /* sombra */
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
    /* sombra */
}

/* ajuste para o corpo principal */
#main {
    margin-left: 300px;
}

.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    .container,
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/** Menu Desktop **/
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    /* position: relative; */
    white-space: nowrap;
}

/*revisão*/
.nav-menu a,
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-claro);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--cor-detalhes);
}

/* Menu mobile */
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--cor-detalhes);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}
/* HERO */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/fundo-hero2.jfif") bottom; /*inserir img no CSS*/
    background-size: cover;
    position: relative;
}

#hero::before {
    /* pseudo elemento css */
    content: "";
    background: var(--background-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    /*sobrepor algum objeto/elemento*/
}

#hero .hero-container {
    position: relative;
    z-index: 3;
    min-width: 300px;
}

#hero h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 900;
    line-height: 120px;
    color: var(--texto-claro);
}

#hero p {
    color: var(--texto-branco);
    margin-bottom: 50px;
    font-size: 26px;

}

#hero p span {
    color: var(--texto-claro);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--cor-detalhes);
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 90px;
        line-height: 36px;
        margin-bottom: 45px;
    }

    #hero p {
        font-size: 28px;
    }
}


/** Seções Gerais === tag Section ***/
section {
    padding: 60px 0;
    overflow: hidden;
    background: var(--fundo-claro)
}

.section-bg {
    background: var(--fundo-escuro);
    color: var(--texto-claro);
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-titulo-escuro);
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--cor-detalhes);
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

/* Sobre */
.sobre .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-detalhes);
}

.sobre .content ul {
    list-style: none;
    padding: 0;
}

.sobre .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sobre .content ul strong {
    margin-left: 10px;
}

.sobre .content ul i {
    font-size: 20px;
    color: var(--cor-detalhes);
    margin-right: 10px;
    line-height: 0;
}

/* Conquistas */
.conquistas {
    padding-bottom: 30px;
}

.conquistas .count-box {
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i {
    display: block;
    font-size: 44px;
    color: var(--cor-detalhes);
    float: left;
    line-height: 0;
}

.conquistas .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--texto-escuro);
    margin-left: 60px;
}

.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Open", sans-serif;
    color: var(--texto-escuro);
}

/* Opcional */
.conquistas .count-box i:hover {
    color: var(--texto-branco);
    transition: 0.4s;
}

/*  Skills // Habilidades // Vendas  */
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-bg {
    background: var(--fundo-claro);
    height: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 2s;
    background: var(--cor-detalhes);
}

/* Resumo */
.resume .resume-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 25px;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--cor-detalhes);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--texto-hover);
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: var(--texto-claro);
    border: 2px solid var(--cor-detalhes);
}

/* Filtros Portfolio */
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-filters {
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: var(--fundo-claro);
    border-radius: 10px;
    padding: 2px 15px;
}

.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--texto-escuro);
    transition: all 0.5s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
    color: var(--cor-detalhes);
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: var(--texto-escuro);
    font-size: 28px;
    text-align: center;
    background: var(--texto-hover);
    transition: 0.3s;
    width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: var(--fundo-escuro);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 1px solid var(--fundo-menu-lateral);
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
}

/* portfolio Detalhes */
.breadcrumbs {
    padding: 20px 0;
    background: var(--texto-opaco);
}
.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
}
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.breadcrumbs ol li {
    padding-left: 10px;
}
.breadcrumbs ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: var(--texto-escuro);
}
@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}

/* Serviços // Produtos  */

.services .icon-box {
    margin-bottom: 20px;
}

.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: var(--fundo-menu-lateral);
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid var(--cor-detalhes);
    box-shadow: 0 0 8px 2px black;
}

.services .icon i {
    color: var(--texto-claro);
    font-size: 24px;
    line-height: 0;
}

.services .icon-box:hover .icon {
    background: var(--fundo-claro);
    transition: ease-in-out 0.3s;
}

.services .icon-box:hover .icon i {
    color: var(--texto-escuro);
}

.services .title {
    margin-left: 80px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 26px;
    color: var(--texto-branco);
}

.services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 18px;
}

/* depoimentos / feedbacks  */
.depoimentos,
.depoimentos .depoimentos-slider {
    overflow: hidden;
}

.depoimentos .depoimento-item {
    /* box-sizing: content-box; */
    text-align: center;
    min-height: 320px;
}

.depoimentos .depoimento-item .depoimento-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}

.depoimentos .depoimento-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--cor-detalhes);
}

.depoimentos .depoimento-item h4 {
    font-size: 14px;
    color: var(--texto-claro);
    margin: 0;
}

.depoimentos .depoimento-item .quote-icon-left,
.depoimentos .depoimento-item .quote-icon-right {
    color: var(--cor-detalhes);
    font-size: 26px;
}

.depoimentos .depoimento-item .quote-icon-left {
    position: relative;
    display: inline-block;
    left: -5px;
}

.depoimentos .depoimento-item .quote-icon-right {
    position: relative;
    display: inline-block;
    top: 10px;
    right: -5px;
}

.depoimentos .depoimento-item p {
    font-style: italic;
    margin: 0 15px 35px 15px;
    padding: 20px;
    background: var(--fundo-claro);
    position: relative;
    color: var(--texto-escuro);
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.depoimentos .depoimento-item p::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
    border-top: 20px solid var(--fundo-claro);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.depoimentos .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.depoimentos .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: var(--fundo-claro);
    /* opacity: 1; */
    /* border: 1px solid var(--cor-detalhes); */

}

.depoimentos .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--texto-claro);
}

/* .depoimentos .swiper-pagination .swiper-pagination-bullet:hover{
    background: var(--cor-detalhes);
} */
/* Contato */
.contato {
    padding-bottom: 130px;
}

.contato .info {
    padding: 30px;
    padding-right: 30px;
    /*opcial*/
    background: var(--texto-claro);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contato .info i {
    font-size: 20px;
    color: var(--cor-detalhes);
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--texto-branco);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.contato .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--texto-hover);
}

.contato .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 16px;
}

.contato .info i:hover {
    background: var(--fundo-claro);
    color: var(--texto-branco);
}

.contato .info .fone a {
    color: var(--texto-escuro);
}

.contato .info .fone a:hover {
    color: var(--cor-detalhes);
}

.contato .email-form {
    width: 100%;
    padding: 30px;
    background: var(--texto-claro);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contato .email-form .form-grupo {
    padding-bottom: 10px;
    margin-bottom: 15px;
    /*voltar aqui*/
}

.contato .email-form label {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 18px;
    color: var(--texto-hover);
}

/*.contato .email-form input, 
.contato .email-form textarea {
    /* border-radius: 0; 
    /* background: ; 
    /* box-shadow: none; 
}*/
.contato .email-form input {
    height: 40px;
}

.contato .email-form textarea {
    padding: 10px 15px;
}

.contato .email-form button[type=submit] {
    background: var(--cor-detalhes);
    border: 0;
    padding: 10px 24px;
    color: var(--texto-branco);
    border-radius: 4px;
    margin-top: 35px;
    transition: 0.5s;
}

.contato .email-form button[type=submit]:hover {
    background: var(--fundo-menu-lateral);
    color: var(--texto-claro);
}

/* Roda pé */
#footer {
    padding: 15px;
    color: var(--texto-claro);
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background: var(--fundo-menu-lateral);
    width: 300px;
}

#footer .copyright {
    text-align: center;
}

#footer .creditos {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: var(--texto-claro);
}

#footer .creditos a {
    color: var(--cor-detalhes);
}

#footer .creditos a:hover {
    color: var(--texto-hover);
}

@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}