/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* Estilos Fonts */
/*

Winky Rough: 
    font-family: "Winky Rough", sans-serif;

Poetsen One: 
    font-family: "Poetsen One", sans-serif;

Poppins: 
    font-family: "Poppins", sans-serif;

*/




/* variavel para as cores  */
:root {

    --background-color: rgba(5, 13, 24, 0.555);

    --fundo-menu-lateral: #57362b;
    --fundo-claro: #a6afb4;
    --fundo-escuro: #2f3538;

    --borda-clara: #b27059;
    --borda-escura: #037F8C;

    --texto-escuro: #161616;
    --texto-claro: #c8d4db;
    --texto-branco: #ecf8ff;
    --texto-hover: #218591;
    --texto-opaco: #81888c;

    --cor-detalhes: #149ddd;

    --texto-titulo-claro: #38E0F2;
    --texto-titulo-escuro: #037F8C;

    --sombra-clara: rgba(255, 255, 255, 1);
    --sombra-escura: rgba(31, 31, 31, 0.1);
}

/* CSS Geral */
body {
    font-family: "Roboto", sans-serif;
    color: var(--texto-claro);
    background: var(--fundo-escuro);
}

/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-shadow: 0 0 5px var(--sombra-clara);
}

#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: wheat;
}


/* Redes Sociais */

.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

a {
    text-decoration: none;
}

/* Menu mobile */
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--cor-detalhes);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Ajuste para o Corpo do Conteudo */
/* Estrutura Base - Corpo */
#main {
    margin-left: 300px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}


/* menu responsivo */
@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Menu do Header */ 
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-claro);
    font-weight: 600;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--cor-detalhes);
    font-weight: 600;
}

/* HERO */
#hero {
   width: 100%;
   height: 100vh; /* view Port Height */ 
   background: url("../img/bg-hero1.png") bottom;
   /* Criar img na I.A. */
   background-size: cover;
   position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(35, 24, 24, 0.5);
}

#hero .hero-container {
    z-index: 3;
    position: relative;
    min-width: 300px;
}

#hero h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
    color: #fff; 
}

#hero p {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 26px;
}

#hero p span {
    color: #b79b90;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 3px solid #f4c119;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px)  {
    #hero h2 {
        font-size: 75px;
        line-height: 1;
        margin-bottom: 20px;
    }
    #hero p {
        font-size: 28px;
    }
}




/* Seções e Titulos */
section {
    padding: 60px 0;
    overflow: hidden;
    /* clara */
    /* background: var(--section-clara); */
    background: #9f7667;
    
}

.section-bg {
    /* escura */
    /* background: var(--section-escura); */
    background: #57362b;
    color: var(--texto-claro);
}

/* Estrutura do Titulo Seção */
.section-title {
    padding-bottom: 30px;
}

/* titulo H2 */
.section-title h2 {
    color: #4a2e24;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poetsen One", sans-serif;
}

.section-title h2::after {
    content: "";
    position: absolute;
    background: #4a2e24;
    width: 50px;
    height: 3px;
    display: block;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

/* Sobre */
.sobre .content h3 {
    color: #4a2e24;
    font-weight: 700;
    font-size: 26px;
    font-family: "Winky Rough", sans-serif;
}

.sobre .content ul {
    list-style: none;
    padding: 0;
}

.sobre .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sobre .content ul strong {
    margin-right: 5px;
    font-weight: 600;
    /* letter-spacing: .5px; */
    font-family: "Poppins", sans-serif;
}

.sobre .content ul i {
    color: var(--fundo-menu-lateral);
    margin-right: 10px;
    font-size: 20px;
}

/* Conquistas // Vendas */
.conquistas {
    padding-bottom: 30px;
}

.conquistas .count-box {
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i {
    color: var(--fundo-menu-lateral);
    font-size: 44px;
    display: block;
    float: left;
    line-height: 0;
}

.conquistas .count-box .count-box-i {
    color: var(--fundo-menu-lateral);
    font-size: 44px;
    display: block;
    float: left;
    line-height: 40px;
}

.conquistas .count-box span {
    font-size: 48px;
    color: var(--fundo-menu-lateral);
    display: block;
    line-height: 40px;
    font-weight: 700;
    margin-left: 60px;
}

.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    color: #5a382b;
}

.conquistas .count-box strong {
    font-weight: 800;
}

.conquistas .count-box i:hover,
.conquistas .count-box span:hover {
    color: var(--fundo-claro);
    transition: ease-in-out .5s;
}


/* Vendas // Skills = Habilidades */
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    display: block;
    color: #c0c0c0;
    font-weight: 800;
    font-size: 16px;
}

.skills .progress .skill .val {
    font-style: normal;
    float: right;
    color: #c0c0c0;
    font-weight: 800;
    font-size: 16px;
}

.skills .progress-bar-bg {
    background: #a6afb4;
    height: 10px;
}
