@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variavel para as cores */
:root {
    --fundo-menu-lateral: #F2EDDC;
    --fundo-claro: #91b2cf;
    --fundo-escuro: #011526;

    --texto-escuro: #00070D;
    --texto-menu: #011526;
    --texto-claro: #91b2cf;
    --texto-titulo: #e4ab1a;

    --detalhes-claro: #91b2cf;
    --detalhes-icones: #cfdde9;
    --detalhes-escuro: #11b267;

    --aspas: #0f5596;

    /* --cor-transparente: rgba(0,255,0, 0.5); */
}

/* CSS Principal */
body {
    font-family: "Roboto", sans-serif;
    /* color: #00070D; */
    color: var(--texto-claro);
    background: var(--fundo-escuro);
}

a {
    color: var(--texto-claro);
    text-decoration: none;
}

a:hover {
    color: var(--detalhes-claro);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montaga', serif;
}

/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: var(--fundo-menu-lateral);
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
    overflow-y: auto;
}

.perfil img {
    margin: 35px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--detalhes-claro);
    box-shadow: 0px 0px 15px 5px rgb(26, 26, 26);
}

.perfil h1 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    font-family: "Montaga", sans-serif;
}

.perfil .social-links a {
    font-size: 20px;
    display: inline-block;
    background: var(--fundo-claro);
    color: var(--texto-escuro);
    line-height: 1;
    padding: 8px 2px;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.5s;
}

.perfil .social-links a:hover {
    background: var(--fundo-escuro);
    color: var(--fundo-menu-lateral);
    text-decoration: none;
}

/* principal */
#main {
    margin-left: 300px;
}

.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    .container,
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* menu Nav Desktop */
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: var(--texto-claro);
    /*texto claro*/
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.8s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 12px;
    color: var(--texto-claro);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-menu);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--detalhes-escuro);
}

/* fim Header */

/* nav mobile */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
    border: 0;
    font-size: 25px;
    transition: all 0.5s;
    background: var(--fundo-claro);
    color: var(--fundo-menu-lateral);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* HERO */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/fundo-hero1.jfif") bottom;
    /*inserir img no CSS*/
    background-size: cover;
}

#hero::before {
    /* pseudo elemento css */
    content: "";
    background: rgba(5, 13, 26, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /*sobrepor algum objeto/elemento*/
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 100px;
    font-weight: 900;
    line-height: 120px;
    color: var(--detalhes-icones);
    font-family: 'Montaga', serif;
}

#hero p {
    color: var(--detalhes-icones);
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Roboto" sans-serif;
    background: rgba(31, 31, 31, 0.4);
}

#hero p span {
    color: var(--texto-claro);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--detalhes-escuro);
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 90px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    #hero p {
        font-size: 24px;
    }
}

/* ------- Css Geral -----  */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    /*bg - background*/
    background: var(--fundo-claro);
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-titulo);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--detalhes-claro);
}

.section-title p {
    margin-bottom: 0;
}

/* sobre */
.sobre .container h3 {
    font-size: 35px;
    font-weight: 500;
    color: var(--detalhes-icones);
}

.sobre .container ul {
    list-style: none;
    padding: 0;
}

.sobre .container ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sobre .container ul strong {
    margin-right: 15px;
}

.sobre .container ul i {
    font-size: 22px;
    margin-right: 10px;
    color: var(--detalhes-icones);
    line-height: 0;
}

/*  Conquistas */
.conquistas {
    padding-bottom: 30px;
}

.conquistas .count-box {
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i {
    display: block;
    font-size: 45px;
    color: var(--detalhes-escuro);
    float: left;
    line-height: 0;
}

.conquistas .count-box span {
    font-size: 50px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--fundo-menu-lateral);
    margin-left: 60px;
}

.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.conquistas .count-box i:hover {
    color: var(--texto-claro);
}

/* Skills  /  Vendas */
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills p {
    color: var(--texto-escuro);
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: var(--texto-escuro);
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-bg {
    background: var(--detalhes-icones);
    height: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 5s;
    background: var(--texto-menu);
}

/*  Resumo  */
.resumo .resumo-titulo {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--detalhes-escuro);
}

.resumo .resumo-item {
    padding: 0 0 20px 20px;
    /* margin-top: ; */
    border-left: 2px solid var(--texto-titulo);
    position: relative;
}

.resumo .resumo-item h4 {
    line-height: 20px;
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: var(--texto-titulo);
    margin-bottom: 10px;
}

.resumo .resumo-item h5 {
    font-size: 16px;
    background: var(--fundo-claro);
    color: var(--texto-escuro);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resumo .resumo-item ul {
    padding-left: 20px;
}

.resumo .resumo-item ul li {
    padding-bottom: 10px;
}

.resumo .resumo-item::before {
    /* :: Pseudo Elemento */
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--fundo-claro);
    border: 2px solid var(--texto-titulo);
}

/* portfolio // vendas // Catalogo */
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-filters {
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: var(--fundo-claro);
    border-radius: 5px;
    padding: 2px 15px;
}

.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: var(--texto-menu);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
    color: var(--fundo-menu-lateral);
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* inset: 0;  resume valor=0 => TOP, RIGHT, Bottom, LEFT */
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: var(--texto-escuro);
    font-size: 28px;
    text-align: center;
    background: var(--fundo-claro);
    transition: 0.3s;
    width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: var(--fundo-escuro);
    color: var(--detalhes-icones);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 2px solid var(--fundo-menu-lateral);
}

.portfolio .portfolio-wrap:hover::before {
    inset: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
}

/* portfolio pagina adicional == detalhes */


/**   voltar    **/
.servicos .icon-box {
    margin-bottom: 20px;
}
.servicos .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: var(--fundo-claro);
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid var(--detalhes-icones);
    box-shadow: 0 0 5px 0 whitesmoke;
}
.servicos .icon i {
    font-size: 22px;
    color: var(--texto-menu);
    line-height: 0;
}
.servicos .icon:hover {
    background: var(--texto-menu);
    transition: 0.3s;
}
.servicos .icon:hover i {
    color: var(--texto-claro);
}
.servicos .title {
    margin-left: 60px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    color: var(--detalhes-escuro);
}
.servicos .descricao {
    margin-left: 60px;
    line-height: 20px;
    font-size: 18px;
}
/* depoimentos // feedbacks // avaliações  */
.depoimentos, 
.depoimentos .depoimentos-slider {
    overflow: hidden;
}
.depoimentos .depoimento-item {
    text-align: center;
    min-height: 320px;
}
.depoimentos .depoimento-item .depoimento-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}
.depoimentos .depoimento-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--texto-menu);
}
.depoimentos .depoimento-item h4 {
    font-size: 18px;
    margin: 0;
    color: var(--texto-escuro);
}
.depoimentos .depoimento-item .quote-left,
.depoimentos .depoimento-item .quote-right {
    color: var(--aspas);
    font-size: 26px;
}
.depoimentos .depoimento-item .quote-left {
    display: inline-block;
    position: relative;
    left: -5px;
}
.depoimentos .depoimento-item .quote-right {
    display: inline-block;
    position: relative;
    top: 10px;
    right: -5px;
}
.depoimentos .depoimento-item p {
    font-style: italic;
    color: var(--texto-claro);
    margin: 0 15px 35px 15px;
    padding: 20px;
    background: var(--texto-menu);
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(218, 221, 224, 0.3);
}
.depoimentos .depoimento-item p::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: calc(50% - 20px);
    width: 0;
    height: 0;
    border-top: 20px solid var(--texto-menu);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}
.depoimentos .swiper-pagination {
    margin-top: 55px;
    position: relative;
}
.depoimentos .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: var(--fundo-menu-lateral);
    /* opacity: 1;  */
    /* border: 1px solid black; */
}
.depoimentos .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--fundo-escuro);
}
/* Contato // Forms */
.contato {
    padding-bottom: 130px;
}
.contato .info {
    padding: 30px;
    background: var(--fundo-claro);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(219, 215, 215, 0.495);
}
.contato .info i {
    font-size: 22px;
    color: var(--texto-claro);
    background: var(--texto-menu);
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.contato .info h4 {
    color: var(--texto-menu);
    padding-left: 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contato .info p {
    color: var(--fundo-menu-lateral);
    font-size: 16px;
    padding: 0 0 10px 60px;
    margin-bottom: 30px;
}
.contato .info .fone p:hover {
    color: red;
}
/*Forms */
.contato .email-form {
    padding: 30px;
    background: var(--fundo-claro);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(219, 215, 215, 0.495);
}
.contato .email-form .form-group {
    padding-bottom: 15px;
}
.contato .email-form label {
    color: var(--texto-menu);
    margin-bottom: 2px;
    font-size: 18px;
}
.contato .email-form input,
.contato .email-form textarea {
    /* border-radius: 0; */
    box-shadow: none; /*remover sombra*/
    font-size: 16px;
}
.contato .email-form input {
    height: 40px;
}
.contato .email-form textarea {
    padding: 10px 15px;
}
.contato .email-form button[type=submit] {
    background: var(--aspas);
    color: var(--fundo-menu-lateral);
    border: 0;
    border-radius: 4px;
    padding: 10px 24px;
    /* width: 70px;
    height: 30px; */
    /* font-size: 18px; */
    transition: 0.4s;
}
.contato .email-form button[type=submit]:hover {
    background: var(--fundo-escuro);
}

/* back-to-top // Voltar ao TOPO */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    background: var(--texto-titulo);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}
.back-to-top i {
    color: var(--texto-menu);
    font-size: 30px;
    line-height: 0;
}
.back-to-top:hover{
    background: var(--texto-claro);
}
.back-to-top i:hover {
    color: var(--detalhes-icones);
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
/* Footer */
#footer {
    padding: 30px;
    background: var(--fundo-menu-lateral);
    color: var(--aspas);
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
}
#footer .copyright {
    text-align: center;
}
#footer .creditos {
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: var(--aspas);
}
#footer .creditos a {
    color: var(--detalhes-escuro);
}
@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}


/*  ---- breadcrumbs --- */

/* Voltar aqui  */
