:root{
    .color1 { #6d9788 };
    .color2 { #1e2528 };
    .color3 { #7e1c13 };
    .color4 { #bf0a0d };
    .color5 { #e6e1c2 };


    --cor1: #012840;
    --cor2: #037F8C;
    --cor3: #38E0F2;
}